venv/
aplicativo/migrations/
auth_app/migrations/
aplicativo/__pycache__/
aplicativo/migrations/__pycache__/
aplicativo/management/commands/__pycache__/
auth_app/__pycache__/
SAPE/settings/__pycache__/
SAPE/__pycache__/
aplicativo/services/__pycache__/
db.sqlite3
start.sh
run.sh
reset.sh
.env
docker_up.sh
docker_down.sh
docker_stop.sh