/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cor-principal-700 : #F27673;
    --cor-secundaria-roxa-700 : #2B7A66;
    --cor-secundaria-roxa-500: #256958;
    --cor-principal-cinza-700: #828282;
    --cor-secundaria-cinza-500: #999999;
}

#sidebar{
    position: fixed;
}

#title-form {
    color: #00000080;
}

#pre-viability {
    background-color: var(--cor-secundaria-roxa-500);
}

#enterprise {
    background-color: var(--cor-secundaria-roxa-500);
}

.campo-formulario {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #212529 !important;

}

.campo-formulario:focus {
    background-color: #fff !important;
    border-color: #80bdff !important;
    color: #212529 !important;
}

.botao-campo-formulario {
    padding: 2px 7px;
    color: #fff;
    font-weight: bold;
    border-style: hidden;
    border-radius: 5px;
    background-color: #39a0e6;
}


.botao-campo-formulario:hover {
    background-color: #3796d6;
}

label {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100% !important;
    margin-bottom: -1px !important;
}

.select2-container--default .select2-selection--single  {
    height: 38px !important;
    position: relative !important;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
}


.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999 !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444 !important;
    line-height: 15px !important;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 0 !important;
    margin-left: -7px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 3px !important;
    padding-left: -8px !important;
}


.button-container {
    background-color: transparent;
}

#botao-salvar {
    background-color: #256958;
    border: none;
}

#botao-salvar:hover{
    background-color: #2B7A66; 
}

#botao-voltar {
    background-color: #6c757d;
    border: none;
}

#botao-voltar:hover{
    background-color: #343a40cc; 
}

/* icones styles */

.icone-branco{
    fill:#fff;
    margin-bottom: 3px;
}

/*              */

#yellow-container, #green-container, #red-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: -15px;
}
  
#yellow-container #situacao {
    color: #fff;
    background-color: #cc9900;
    padding: 3px 7px;
    border-radius: 20px;
}

#green-container #situacao {
    color: #fff;
    background-color: green;
    padding: 3px 7px;
    border-radius: 20px;
}

#red-container #situacao {
    color: #fff;
    background-color: red;
    padding: 3px 7px;
    border-radius: 20px;
}


.campo-formulario-select {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #212529 !important;
    -webkit-appearance: none; /* Remove o estilo padrão do WebKit (Safari, Chrome, etc.) */
    -moz-appearance: none; /* Remove o estilo padrão do Gecko (Firefox) */
    appearance: none; /* Remove o estilo padrão de outros navegadores */
}

.observation-micro {
    cursor: grab;
    padding: 0 !important;
}

.observation-micro:hover {
    background-color: #c5c3c3;
    border-radius: 10px;
}

.observation-macro {
    cursor: grab;
    padding: 0 !important;
}

.observation-macro:hover {
    background-color: #c5c3c3;
    border-radius: 10px;
}

.count-char {
    color: #00000080;
    padding: 2px 10px;
    margin-top: 2px;
    text-align: right !important;
}
