.red-btn {
    background-color: #b13030;
    border-color: #b13030;
    font-weight: bold;
    transition: background-color 0.4s ease;
  }
  
  .red-btn:hover {
    background-color: #8c2828;
    border-color: #8c2828;
  }
  
  .green-btn {
    background-color: rgb(11, 11, 11);
    border-color: rgb(11, 11, 11);
    font-weight: bold;
    transition: background-color 0.4s ease;
  }

.green-btn:hover {
    background-color: rgb(31, 30, 30);
    border-color: rgb(31, 30, 30);
}