/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
   
    font-family: 'Montserrat', sans-serif;
}

/* Header Styles */
div#title-header{
    margin-bottom: 10px;
}

h1#title-header{
    color: #00000080;
}

#cadastrar-campanha{
    background-color: #3B7D66;
    border: none;
}

#cadastrar-campanha:hover{
    background-color: #2E5E4F;
}


/* icones styles */

.icone-branco{
    fill:#fff;
    margin-bottom: 3px;
}

.remover-campanha{
    cursor: pointer;
    justify-self: center;
}


.icone-remover:hover{
    color: #FF0000 !important;
}

/* Main content styles */
div#flex-container{
    margin: 0 auto;
    width: 100%;
    align-items: center; /* Alinha as divs filhas verticalmente */
    justify-content: center; 
    height: auto;
    display: flex;
    margin-top: -10px;
    flex-wrap: wrap;
    box-shadow: 0px -5px 8px #eeebeb;
    border-radius: 9px;
    padding-top: 5px;
}

.flex-item{
    width: 270px;
    margin: 20px;
    padding-bottom: 3px;
    border-radius: 10px; 
    border: solid 2px #e5e5e5; 
    box-shadow: 0px 4px 2px #e5e5e5;
    overflow: visible;
}

.flex-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 2px 10px #E9C67C;
    border: solid 2px #E9C67C;
}

div.info{
    border-radius: 10px;
    padding: 5px 10px 0 10px;
    width: 100%;
}

.img-campanha{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 200px;
    box-shadow: 0px 0px 10px #fff6f6;
}

div.img-campanha-container{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    object-fit: cover;
}

.grid-pai{
    height: auto;
    width: 100%;
    flex-wrap: wrap;  
}


div.img{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

label{
    font-weight: bold;
    font-size: 15px;
    outline-width: 0.5px;
    font-family: 'Montserrat', sans-serif;
}

p.dado{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: -10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3px;
}

a.item{
    text-decoration: none;
    color: inherit;
}

a.item:hover{
    text-decoration: none;
    color: inherit;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
}

.ativo-marca {
    float: right;
    margin-right: 15px;
    pointer-events: none;
    cursor: none;
}

.inativo {
    filter: brightness(0.5); 
    filter: saturate(0.1);
    opacity: 0.9; 
}

/* Dropdown styles */

.icon-ellipsis{
    width: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.icon-ellipsis:hover{
    background-color:#75757533;
}

div.dropdown{
    width: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: visible;
    transition: background-color 0.5s ease;
}

div.dropdown:hover{
    background-color:#75757533;
}

a.dropdown-item:hover{
    background-color:#75757533;
}