:root{
    --cor-principal-700 : #F27673;
    --cor-secundaria-roxa-700 : #2B7A66;
    --cor-secundaria-roxa-500: #256958;
    --cor-principal-cinza-700: #828282;
    --cor-principal-cinza-600: #666666;
    --cor-secundaria-cinza-500: #999999;
    --cor-principal-azul-700: #19b6d1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: #F8F8FB;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

span{
    color: var(--cor-secundaria-roxa-700);
    font-size: 3.1rem;
    margin-left: -29px;
}

h1{
    padding: 1.5625rem 0rem 0rem 3.1875rem;
    color: var(--cor-principal-700);
    margin-bottom: 1.5rem;
    font-family: 'League Spartan', sans-serif;
}

.password-resert{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}

form p{
    color: var(--cor-secundaria-roxa-500);
    font-size: 0.75rem
}
h2{
    font-size: 1rem;
    margin-left: -265px;
    align-items:end;
    margin-top: 8px;
    color: var(--cor-principal-700);
}
form input{
    height: 3rem;
    width: 428px;
    margin-top: 10px;
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--cor-secundaria-cinza-500);
    background-color: white;
    color: #ACACAC;
    border-radius: 5px;
}
button{
    width: 54%;
    height: 3.5rem;
    margin-left: 205px;
    margin-top: 12px;
    border-radius: 8px;
    border-color: white;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    background-color: var(--cor-secundaria-roxa-500);
    outline: none;
    cursor: pointer;

}button:hover{
    transition: 250ms ease;
    background-color: var(--cor-principal-700);
}
.texto-para-senha{
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

#faca-login-em-vez-disso{
    text-decoration: none;
    color: var(--cor-principal-azul-700);
    width: 100%;
    margin-left: -513px;
    margin-top: -53px;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
    font-size: 0.9rem
}

div#title{
    width: min-content;
    white-space: nowrap;
    margin-left: -68px;
    margin-top: 7px;
}