.green-btn {
  background-color: rgb(11, 11, 11);
  border-color: rgb(11, 11, 11);
  font-weight: bold;
  transition: background-color 0.4s ease;
}

.green-btn:hover {
  background-color: rgb(31, 30, 30);
  border-color: rgb(31, 30, 30);
}

.blue-btn {
  background-color: #365988;
  border-color: #365988;
  font-weight: bold;
  transition: background-color 0.4s ease;
}

.blue-btn:hover {
  background-color: #2A4670;
  border-color: #2A4670;
} 